# IntelliJ 설정
.idea/
*.iml

Makefile


# Helm 민감 정보
helm/external-secrets-config/values.yaml

# Terraform 상태
terraform
terraform/**/*.tfstate
terraform/**/*.tfstate.backup

terraform-outputs.json
# Ansible
*.retry
*.log


보류/
